@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .navbar {
      ul li {
        display: inline-table;

        a {
          text-decoration: none;
          font-weight: 400;
          margin-left: 2rem;
        }

        a:hover {
          color: hsl(5, 85%, 63%);
        }
      }
    }
  }

  .first {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 0.7fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px 20px;
      grid-template-areas:
        "grid-img grid-img grid-new"
        "title grid-btn    grid-new";
    }
    .grid-img {
      grid-area: grid-img;
      height: 344px;
      background-image: url('./assets/images/image-web-3-desktop.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      img {
        width: 100%;
        height: 344px;
      }
    }
    .grid-new {
      grid-area: grid-new;
      height: 600px;
      padding: 2rem 1rem;
      background-color: hsl(240, 100%, 5%);
      color: hsl(36, 100%, 99%);

      h2 {
        color: hsl(35, 77%, 62%);
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 1rem;
      }

      .div {
        padding-top: 2rem;
        font-weight: 800;


        border-bottom: 1px solid hsl(236, 13%, 42%);
      

        h3 {
          padding-bottom: 1rem;
          font-size: 1.4rem;

        
          a {
            color: hsl(36, 100%, 99%);
          }

          a:hover {
            color: hsl(35, 77%, 62%);
          }
        }

        p {
          color: hsl(236, 13%, 42%);
          padding-bottom: 2rem;
          line-height: 1.5rem;
        }
      }

      .div:last-child {
        border-bottom: none;
      }
    }

    .title {
      grid-area: title;
      color: hsl(240, 100%, 5%);
      font-size: 3rem;
      width: 450px;
    }
    .grid-btn {
      grid-area: grid-btn;
      color: hsl(236, 13%, 42%);
      font-size: 1.4rem;
      line-height: 2rem;

      .read {
        background-color: hsl(240, 100%, 5%);
        padding: 1rem 3rem;
        margin-top: 2rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.4rem;

        a{
        color: hsl(36, 100%, 99%);
            
        }
      }
    }
  }

  .second{
    display: flex;
    padding-bottom: 5rem;

    .one{
        display: flex;
        justify-content: space-around;
    width: 100%;


        img{
            height: 200px;
        }

.text{
display: flex;
flex-direction: column;

span{
    font-size: 2rem;
    color:  hsl(233, 8%, 79%) ;
    font-weight: 600;
    padding-bottom: 1rem;
}

h3{
    font-weight: 800;
    padding-bottom: 1rem;
    font-size: 1.3rem;


}
a{
    color: hsl(240, 100%, 5%);

}
a:hover{
    color:hsl(5, 85%, 63%);

}
p{
    color: hsl(236, 13%, 42%);
    font-size: 1rem;
    line-height: 1.5rem;
    width: 230px;
}
}

    }


  }

}


@media(max-width:560px){
    .container {
        max-width: 400px;
        margin: 0 auto;
      
        header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2rem 0;
      
          .navbar {
            ul li {
              display: inline-table;
      
              a {
                text-decoration: none;
                font-weight: 400;
                margin-left: 2rem;
              }
      
              a:hover {
                color: hsl(5, 85%, 63%);
              }
            }
          }
        }
      
        .first {
          .grid {
            display: block;
           
          }

          .grid-img {
            height: 344px;
            background-image: url('./assets/images/image-web-3-mobile.jpg');
            background-repeat: no-repeat;
            background-size: cover;
      
            img {
              width: 100%;
              height: 344px;
            }
          }
         
          .grid-new {
            grid-area: grid-new;
            height: 500px;
            padding: 2rem 1rem;
            background-color: hsl(240, 100%, 5%);
            color: hsl(36, 100%, 99%);
      
            h2 {
              color: hsl(35, 77%, 62%);
              font-size: 2rem;
              font-weight: 800;
              padding-bottom: 0;
            }
      
            .div {
              padding-top: 2rem;
              font-weight: 800;
              border-bottom: 1px solid hsl(236, 13%, 42%);
      
              h3 {
                padding-bottom: 1rem;
                font-size: 1.2rem;
      
              
                a {
                  color: hsl(36, 100%, 99%);
                }
      
                a:hover {
                  color: hsl(35, 77%, 62%);
                }
              }
      
              p {
                padding-bottom: 2rem;
                font-weight:500;
              }
            }
      
            .div:last-child {
              border-bottom: none;
            }
          }
      
          .title {
           
            font-size: 2.3rem;
            width: 450px;
            margin: 1.2rem 0;
            line-height: 3.5rem;
          }
          .grid-btn {
         font-size: 1.1rem;
      
            .read {
              background-color: hsl(5, 85%, 63%);
          margin-bottom: 4rem;
              border:none;
             
            }
          }
        }
      
        .second{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          gap: 3rem;
          padding: 5rem 0;
      
          .one{
              display: flex;
              justify-content: space-around;
              gap: 2rem;
          width: 100%;
      
      
              img{
                  height: 200px;
              }
      
      .text{
      display: flex;
      flex-direction: column;
      
      span{
          font-size: 2rem;
          color:  hsl(233, 8%, 79%) ;
          font-weight: 600;
          padding-bottom: 1rem;
      }
      
      h3{
          font-weight: 800;
          padding-bottom: 1rem;
          font-size: 1.3rem;
      
      
      }
      a{
          color: hsl(240, 100%, 5%);
      
      }
      a:hover{
          color:hsl(5, 85%, 63%);
      
      }
      p{
          color: hsl(236, 13%, 42%);
          font-size: 1rem;
          line-height: 1.5rem;
          width: 230px;
      }
      }
      
          }
      
      
        }
      
      }
    
}


.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
